html {
    position: relative;
    min-height: 100%;
    background-color: darkgreen;
}

body {
    background-color: darkgreen;
    margin: 0 0 40px;
    padding: 0px;
}

header{
    color: yellow;
    text-align: center;
    padding: 10px;
}

.title{
    font-size: 40px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
}

.console{
    position: relative;
    width: 350px;
    color: red;
    margin: 10px auto;
}

.console a{
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: orangered;
    display: block;
    padding: 4px;
    border-radius: 8px;
    margin: 20px auto;
    width: 130px;
    text-align: center;

    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

.console a:active {
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
}

#start {
    float: left;
}

#reset {
    float: right;
}

.centered{
    overflow: hidden;
    position: relative;
    color: blue;
    height: 450px;
    width: 650px;
    margin: 10px auto;
    padding-top: 20px;
}

.results{
    color: green;
}

.dealer{
    color: black;
    text-align: center;
}

.dealers_cards, .players_cards{
    overflow: hidden;
    margin: auto;
    display: inline-block;
    padding: 10px 40px 10px 10px;
    color: grey;

}

.results ul{
    position: relative;
    display: inline-block;
    margin: auto;
}

.results li{
    position: relative;
    display: block;
    width: 30px;
    float: left;
}

.results img{
    height: 90px;
    display: block;
}

.player{
    margin-top: 15px;
    color: white;
    text-align: center;
}

.players_cards{
    color: purple;
}

.pscore{
    position: relative;
    background-color: black;
    height: 30px;
    width: 100px;
    margin: auto;
    bottom: 140px;
    border-radius: 4px;
    -moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 25px rgba(0,0,0,.7);

}

.pscore p{
    padding-top: 5px;
    text-align: center;
    color: yellow;
    font-weight: 700;
    font-size: 1.2em;
}

.gameConsole{
    position: relative;
    width: 250px;
    color: red;
    margin: auto;
    bottom: 130px;
}

.gameConsole a{
    position: relative;
    color: black;
    text-decoration: none;
    background-color: rgba(255,208,0,1);
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    padding: 15px 10px 0px 10px;
    border-radius: 20px;
    margin: 10px auto;
    width: 50px;
    height: 35px;
    text-align: center;

    -moz-transition: all .1s ease;
    transition: all .1s ease;
}



#hit {
    float: left;
}

#stand {
    float: right;
}

footer{
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    color: grey;
}

footer p{
    padding: 10px 10px 10px 10px;
}




