doctype
html
    head
        title= title
        link(rel="stylesheet", href="styles/pug.css")

    body
        ul(class="menu")
            li
                a(id='play', href="/") Play Game
            li
                a(id='rules', href="/rules") Rules
            li
                a(id='score', href="/userScores") Scores
            if(username && username !== '')
                li
                    a(id='logout', href="/logout") Logout
            else
                li
                    a(id='login', href="/login") Login
                li
                    a(id='register', href="/register") Register
        block content