doctype
html
    head
        title= title
        link(rel="stylesheet", href="styles/main.css")

    body
        ul(class="menu")
            li
                a(href="/", style="font-weight: bold; color: blue; font-size: large;") PLAY GAME
            li
                a(href="/rules", style="font-weight: bold; color: blue; font-size: large;") RULES
            li
                a(href="/userScores", style="font-weight: bold; color: blue; font-size: large;") SCORES
            if(username && username !== '')
                li
                    a(href="/logout", style="font-weight: bold; color: blue; font-size: large;") LOGOUT
            else
                li
                    a(href="/login", style="font-weight: bold; color: blue; font-size: large;") LOGIN
                li
                    a(href="/register", style="font-weight: bold; color: blue; font-size: large;") REGISTER
        block content