html {
   background-color: darkgreen;
}

.errorMessage {
    color: red;
    font-weight: bold;
 }
 
 body {
    margin: 0;
 }
 
 h1,h2,h3,p,div,section,table,label {
    margin: 1rem;
 }
 
 .menu {
    margin: 0;
    padding: 1rem;
    background-color: black;
 }
 
 .menu li {
    display: inline-block;
 }
 
 .menu a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
 }

 #play{
   color:white;
 }

 #rules{
   color:yellowgreen;
}

#score{
   color: red;
}

#logout{
   color: pink;
}

#login{
   color: blue;
}

#register{
   color: green;
}
 
 .menu a:hover {
    background-color: white;
 }
 
 .table {
    border-collapse: collapse;
 }
 
 .table td, .table th {
    padding: 0.5rem;
    border: 1px solid black;
 }
 
 .form {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
    grid-column-gap: 5rem;
    grid-row-gap: 1rem;
 }
 
 .label {
    grid-column: 1;
 }
 
 .control {
    grid-column: 2;
    height: 2rem;
 }
 
 .row1 {
    grid-row: 1;
 }
 
 .row2 {
    grid-row: 2;
 }
 
 .row3 {
    grid-row: 3;
}

.row3 {
   grid-row: 4;
}

.row4 {
    grid-row: 5;
    margin-left: 3rem;
}

h1{
   background-image: url("https://t4.ftcdn.net/jpg/02/86/50/73/360_F_286507312_9TxHRyUnhAFi7E7ZNvL0FqNvNlwVEuzE.jpg");
   margin: auto;
   text-align: center;
   color: white;
   padding-top: 4rem;
   padding-bottom: 1.15rem;
}

.table{
   background-color: green;
   margin-left: auto;
   margin-right: auto;
}

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow:auto;
}