.rule{
    
    height: 450px;
    width: 650px;
    margin: 10px auto;
    padding-top: 50px;
    color: black;
    
}


html {
    background-color: darkgreen;
  }


  
  body {
    background-color: darkgreen;
  }

.second {
    padding-top: 15px;
}

header{
    text-align: center;
}

.title{
    white-space:pre-line;
}

.console{
    position: relative;
    width: 350px;
    color: red;
    margin: 10px auto;
}

.dataSection{
position: relative;
    width: 150px;
    color: red;
    margin: 10px auto;
}




.centered{
    overflow: hidden;
    height: 450px;
    width: 650px;
    margin: 10px auto;
    padding-top: 50px;
    
}


.hero-body{
    background-image: url("https://t4.ftcdn.net/jpg/02/86/50/73/360_F_286507312_9TxHRyUnhAFi7E7ZNvL0FqNvNlwVEuzE.jpg");
}


.navbar-brand {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:auto;
  background-color: #333;
}

.navbar-menu {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:auto;
  background-color: #333;
}

#rules {
    width: 1100px;
    margin: auto;
}
#intro {
    padding-top: 60px;
    width: 500px;
    float: left;
    height: 200px;
}
#introP{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#content {
    width: 500px;
    float: right;
    height: 100px;

}
h2{
    text-align: center;
    text-decoration: double;
    color: yellowgreen;
}

li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

#heading2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: rgb(112, 56, 10);
    font-size: 40px;
    box-shadow: 0px 9px 25px rgba(7, 3, 1, 0.7);
    padding-bottom: 6px;
}



