
html {
    background-color: darkgreen;
}

body {
    
    margin: 0 0 40px;
    padding: 0px;
    background-color: darkgreen;
}

header{
    text-align: center;
}
#heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: rgb(112, 56, 10);
    font-size: 40px;
    box-shadow: 0px 9px 25px rgba(7, 3, 1, 0.7);
    padding-bottom: 6px;
    height: 70px;
}

.title{
    white-space:pre-line;
    
}

.console{
    position: relative;
    width: 350px;
    color: red;
    margin: 10px auto;
}

.dataSection{
position: relative;
    width: 150px;
    color: red;
    margin: 10px auto;
}

#chart{
    position: relative;
        width: 850px;
        margin: 10px auto;
    }

.console a{
    padding: 4px;
    margin: 20px auto;
    width: 150px;
    text-align: center;

}


#start{
    border-color: #f1c40f;
    color: #fff;
    float: left;
}


#reset{
    border-color: #f1c40f;
    color: #fff;
    float: right;
}

#data{
    border-color: #f1c40f;
    color: #fff;
}

#start, #reset, #data {
    
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    background-image: -webkit-linear-gradient(50deg, #f1c40f 60%, transparent 60%);
    background-position: 100%;
    background-size: 60%;
    transition: background 0.55s ease-in-out;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#start:hover{
    background-position: 0;
}

#reset:hover{
    background-position: 0;
}

#data:hover{
    background-position: 0;
}


.centered{
    overflow: hidden;
    height: 450px;
    width: 650px;
    margin: 10px auto;
    padding-top: 50px;
    /*-webkit-perspective: 1000;*/
    
}

.results{
    color: green;
}



.dealers_cards, .players_cards{
    overflow: hidden;
    margin: auto;
    display: inline-block;
    padding: 10px 40px 10px 10px;
    color: grey;

}

.results ul{
    position: relative;
    display: inline-block;
    margin: auto;
}

.results li{
    position: relative;
    display: block;
    width: 30px;
    float: left;
}


.dealer{
    text-align: center;
    color: white;
    height:170px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.player{
    margin-top: 15px;
    height:170px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}
#player_hand{
    position:absolute;
    top:550px;
    left:590px;
}
#noti{
    font-size: 30px;
    border-radius: 20%;
    position:absolute;
    top:520px;
    left:630px;
    
}
#dealer_noti{
    font-size: 30px;
    border-radius: 20%;
    position:absolute;
    top:350px;
    left:630px;
       
}
.players_cards{
   
    top:420px;
    left:590px;

}

.score{ /*css for score board */
    position: relative;
    left:250px;
    bottom: 15px;
    background-color:rgb(5, 59, 5);
    height: 70px;
    width: 90px;
    margin: auto;
    bottom: 140px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellowgreen;
    border-radius: 50%;
    -moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    visibility: hidden;

}

#score1{
    padding-top: 15px;
    text-align: center;
    color: gold;
    font-size: 25px;
}
#player_score{
   position:absolute;
   left:14px;
   top:80px
}
#dealer_score{
    position:absolute;
    left:10px;
    top:80px
 }
 #score2{
     padding-top:15px;
     text-align: center;
     color: gold;
     font-size: 25px;
 }



.gameConsole{
    position: relative;
    width: 250px;
    color: red;
    margin: auto;
    bottom: 130px;
}


#hit{ /*hit button*/
    font-size: 30px;
    background-color:wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    z-index: 1;
    margin-left:40px;
    margin-top:40px;

}

#stand{/*stand button*/
    font-size: 30px;
    background-color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-top:40px;
    z-index: 1;
    margin-left:490px;
}


#hit, #stand {
    float: left;
    visibility: hidden;
    border-radius: 3em;
    width: 110px;
    height: 60px;
    border-color:rgb(60, 132, 134);
    text-shadow: black;
    color:rgb(59, 128, 128);
    background-image: linear-gradient(to bottom, transparent 40%, #5eaabd 70%);
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
span{
    display: inline-block;
}
#hit:hover{
    color:black;
    background-position: 0 100%;
}

#stand:hover{
    color:black;
    background-position: 0 100%;
}
#stand {
    float: right;
    visibility: hidden;
}

#chart{
    color:#fff;
}

#showScore{ /*css for score board */
    text-align: center;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    color: white;
}

.hero-body{
    background-image: url("https://t4.ftcdn.net/jpg/02/86/50/73/360_F_286507312_9TxHRyUnhAFi7E7ZNvL0FqNvNlwVEuzE.jpg");
}

#dealer_hand, #player_hand{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}

.navbar-brand {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:auto;
  background-color: #333;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    background-color: #333;
}





