
body {
    background-color: darkgreen;
    margin: 0 0 40px;
    padding: 0px;
}

header{
    text-align: center;
}

.title{
    white-space:pre-line;

    /*display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;*/
    /*text-align: center;*/
    /*-o-text-overflow: clip;
    text-overflow: clip;*/
}

.console{
    position: relative;
    width: 350px;
    color: red;
    margin: 10px auto;
}

.console a{
    /*position: relative;
    text-decoration: none;*/
    padding: 4px;
    margin: 20px auto;
    width: 150px;
    text-align: center;

    /*-moz-transition: all .1s ease;
    transition: all .1s ease;*/
}

/*.console a:active {
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
}*/

#start {
    float: left;
    font-weight: bold;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
#reset {
    float: right;
    font-weight: bold;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.centered{
    overflow: hidden;
    height: 450px;
    width: 650px;
    margin: 10px auto;
    padding-top: 50px;
    
}

.results{
    color: green;
}

.dealer{
    color: black;
    text-align: center;
}

.dealers_cards, .players_cards{
    overflow: hidden;
    margin: auto;
    display: inline-block;
    padding: 10px 40px 10px 10px;
    color: grey;

}

.results ul{
    position: relative;
    display: inline-block;
    margin: auto;
}

.results li{
    position: relative;
    display: block;
    width: 30px;
    float: left;
}

.results{
    height: 90px;
    display: block;
}
.dealer{
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.player{
    margin-top: 15px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.players_cards{
    color: purple;
}

.pscore{ /*css for score board */
    position: relative;
    bottom: 15px;
    background-color: black;
    height: 50px;
    width: 170px;
    margin: auto;
    bottom: 140px;
    border-radius: 4px;
    -moz-box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 25px rgba(0,0,0,.7);
    visibility: hidden;

}

.pscore p{
    padding-top: 5px;
    text-align: center;
}

.gameConsole{
    position: relative;
    width: 250px;
    color: red;
    margin: auto;
    bottom: 130px;
}

.gameConsole a{
    position: relative;
    color: black;
    text-decoration: none;
    background-color: rgba(255,208,0,1);
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    padding: 15px 10px 0px 10px;
    border-radius: 20px;
    margin: 10px auto;
    width: 50px;
    height: 35px;
    text-align: center;

    -moz-transition: all .1s ease;
    transition: all .1s ease;
}



#hit {
    float: left;
    visibility: hidden;
}

#stand {
    float: right;
    visibility: hidden;
}

footer{
    position: fixed;
    bottom: 0;
    height: 10px;
    width: 100%;
    padding-top: 10px;

}
.footer {
    padding-top: 10px;

}

#hit{ /*hit button*/
    font-size: 25px;
    background-color:wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#stand{/*stand button*/
    font-size: 25px;
    background-color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#showScore{ /*css for score board */
    text-align: center;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
}




